<% layout('layout/boilerplate.ejs') -%>
<script>
  let MapToken="<%= process.env.MAP_TOKEN %>";
  let listing=<%- JSON.stringify(listing)  %>;
</script>
    <div class="row mt-1">
      <div class="col-8 offset-3">
        <h3><b>
            <%= listing.title %>
          </b></h3>
      </div>
      <div class="card col-6 offset-3 listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-image" alt="...">
        <div class="card-body">
          <p class="card-text"> <i>Owner By <%= listing.owner.username  %></i> </p>
          <p class="card-text">
            <%= listing.description %> <br>                                                     
          </p>
          <p class="card-text">&#8377;<%= listing.price.toLocaleString("en-IN") %></p>
          <p class="card-text"><%= listing.country %></p>
          <p class="card-text"><%= listing.location %></p>
        </div>
      </div>
    </div>
    <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
      <div class="btns">
        <a href="/listings/<%= listing._id%>/edit" style="text-decoration: none; height: 38px;"
          class="btn btn-dark col-1 offset-3">Edit</a>
        <br>
        <br>
        <form method="post" action="/listings/<%=listing._id%>?_method=Delete">
          <button class="btn btn-dark  offset-4">Delete</button>
        </form>
      </div>
    <% } %>
    
    <div class="col-8 offset-3 mb-3">
      <hr>
      <% if(currUser){ %>
        <form method="post" action="/listings/<%=listing._id%>/reviews" novalidate class="needs-validation">
          <div class="mb-3 mt-3">
            <label for="review[rating]">Leave A Review</label>
            <fieldset class="starability-basic">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            <!-- <label for="rating" class="form-label">Rating</label>
            <input type="range" class="form-range" id="rating" name="review[rating]" min="1" max="5"> -->
          </div>
          
          <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea name="review[comment]" rows="5" cols="30" id="comment" class="form-control" required></textarea>
            <div class="invalid-feedback">
              Please Provide neccessary Feedback
            </div>
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      <% } %>
      
      <hr>
      <% if(listing.reviews.length >0){ %>
      <p><b>All Reviews</b></p>
      <div class="row">
        <% for(let review of listing.reviews){ %>
          <div class="card col-5 ms-3 mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= review.author.username %></h5>
              <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
              <p class="card-text"><%= review.comment%></p>
              
            </div>
            <form class="mb-3" action="/listings/<%=listing._id%>/reviews/<%= review._id %>?_method=DELETE" method="post">
              <button class="btn sm btn-dark">Delete</button>
            </form>
          </div>
          <% } %>
          
      </div>
      <% } %>
      <div class="col-8  mb-3">
        <h3>Where you'll be</h3>
        <div id="map" class="map-container container-fluid"></div>
      </div>
    </div>
    <script src="/js/map.js"></script>
  </body>

  </html>